<!DOCTYPE html>
<html>
<head>
    <title>Cadastra Lugares</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "arial";
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: linear-gradient(45deg, rgb(12, 134, 65), rgb(0, 0, 0));

    }

    .header {
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #003817;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-between;
        }

        .header h1{
            color: rgb(200, 216, 96);
            font-family: "arial";
            font-size: 36px;
            margin-right: 41.9%;
            margin-top: 15px;
        }

    .cadastro-container {
        width: 420px;
        background: black;
        color: #fff;
        border-radius: 50px;
        padding: 50px;
    }

    .cadastro-container h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 65px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .cadastro-container input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 70px 0;
        
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: black;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: #fff;
        padding: 20px 45px 20px 20px;
        
    }

    
    .input-box i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    button{
        background-color: aqua;
        border: none;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 30px;
        width: 100%;
    }

    button:hover{
        background-image: linear-gradient(45deg, rgb(12, 134, 65), rgb(250, 250, 8));
    }

    .photoUpload{
        padding: 10px;
        background-color: black;
    }

    a{
        background-color: rgb(16, 2, 29);;
    }

    a:hover{
        background-color: aqua;
    }
</style>
    <body>
        <header class="header">
            <img src="https://live.staticflickr.com/65535/53371842705_3f9a06d625_m.jpg" alt="logo point unb">
            <h1>Point UnBersitário</h1>
        </header>
            <div>
                <div class="cadastro-container">
                    <form action="/cadastrar-lugar" method="post" enctype="multipart/form-data">
                        <div class = 'input-box'>
                            <h1>Gosta de algum lugar na UnB? Compartilhe!</h1>
                            <label for="photoUpload">Upload de Foto:</label>
                            <input type="file" id="photoUpload" name="foto">
                        </div>
                        <div class = 'input-box'>
                            <label for="name">Nome:</label>
                            <input type="text" id="name" name="nome">
                        </div>
                        <div class = 'input-box'>
                            <label for="rating">Rating (0 a 5):</label>
                            <select id="rating" name="nota">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select><br><br>
                        </div>
                        <div class = 'input-box'>
                            <textarea id="description" name="descricao" placeholder="Sua descrição"></textarea>

                        </div>
                        <button type="submit">Enviar</button>
                    </form>
            </div>

    </body>
</html>
