<!DOCTYPE html>
<html>
<head>
    <title>Feed de Imagens</title>
    <link rel="stylesheet" href="./public/css/feedDeLocais.css">
    <style>
        .header {
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #003817;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
        }

        .feed-container {
            margin-top: 70px;
        }
    </style>
</head>
<body>
    <header class="header">
        <div>
            LOGO
        </div>
        <div>
            <button>Login</button>
            <button>Registro</button>
        </div>
    </header>
    <div class="feed-container">
        <% dados.forEach(function(item) { %>
            <div class="image-post">
                <h1><%= item.nome %></h1>
                <img src="<%= '../' + item.foto %>" alt="Descrição da imagem">
                <p>Nota: <%= item.nota %></p>
                <p>Descrição: <%= item.descricao %></p>
            </div>
        <% }); %>
    </div>
</body>
</html>
