<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
</head>
<body style="text-align:center;">
    <div class="register-container">
        <h2>Registrar</h2>
        <% if (typeof error !== 'undefined' && error) { %>
            <span><%= error.message %></span>
        <% } %>
        <form action="/register" method="post">
            <label for="username">Nome:</label>
            <input type="text" id="username" name="name">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Registrar</button>
        </form>
        <span>
            <a href="/">Login</a></span>-
            <span>
            <a href="/feed">Feed</a></span>-
        <span>
    </div>
</body>
</html>