<!DOCTYPE html>
<html>
<head>
    <title>Feed de Imagens</title>
    <style>
        /* Adicione seus estilos CSS aqui */
    </style>
</head>
<body style="text-align:center;">
    <div class="feed-container">
        <div class="image-post">
            <img src="caminho_para_imagem1.jpg" alt="Descrição da imagem 1">
        </div>
        <div class="image-post">
            <img src="caminho_para_imagem2.jpg" alt="Descrição da imagem 2">
        </div>
        <!-- Adicione mais blocos .image-post conforme necessário -->
    </div>
<span>
    <a href="tela_login.html">Login</a></span>-
    <span>
    <a href="tela_registro.html">Registrar</a></span>-
    <span>
</body>
</html>