<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body style="text-align:center;">
    <div class="login-container">
        <h2>Login</h2>
        <% if (typeof error !== 'undefined' && error) { %>
            <span><%= error.message %></span>
        <% } %>
        <form action="/login" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="email" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Entrar</button>
            <span>
                <a href="/register">Registrar</a></span>-
                <span>
                <a href="/feed">Feed</a></span>-
            <span>
        </form>
    </div>
</body>
</html>